html {background-color : black;
color : white;}

html { font-family: "Helevetica", sans-serif; } 
body { color: white; font-weight: 100; max-width: 50em; margin: 0 auto; } div:focus { outline: none; } 


#navbar ul { 

	margin: 0; 

	padding: 5px; 

	list-style-type: none; 

	text-align: center; 

	background-color: #000; 

	} 

#navbar ul li { 

	display: inline; 

	} 

#navbar ul li a { 

	text-decoration: none; 

	padding: .2em 1em; 

	color: #fff; 

	background-color: #000; 

	} 

#navbar ul li a:hover { 

	color: #000; 

	background-color: #fff; 

	} 

p{

font-family: 'Inconsolata', monospace;

}

.vr { width:10px; background-color:white; position:absolute; top:0; bottom:0; left:150px; height="100px"}


hr {
width: 70%; /* Length */
/*height: 1px;  Thickness */


}